@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out; /* добавим плавность переходов для всех элементов страницы*/
    }
    ul {
    list-style: none;
    }
    a {
    text-decoration: none;
    outline: none;
    color:inherit;
    }
    img {
    display: block;
    width: 100%;
    }
    h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: inherit;
    letter-spacing: 1px;
    margin-top: 10px;
    }
    body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #373737;
    background: #f7f7f7;
    overflow-x: hidden;
    }
    /* добавим очистку потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
    header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
    content: "";
    display: table;
    clear: both;
    } 


    button{
        border: none;
        cursor: pointer;
    }

    input{
        outline: none;
        border: none;
    }
    :active, :hover, :focus {
        outline: 0;
        outline-offset: 0;
    }       

    /************************************ */


body {
    background-color: rgb(22, 22, 22);
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 400;
    overflow-x: hidden;
}

.profile-wrapper{
    display: flex;
    flex-direction: row;
    background-color: #edf0fb;
}

.sidebar-profile{
    background: transparent linear-gradient(159deg, #3d485d, #252d3a 81%) 0 0 no-repeat padding-box;
    width: 18%;
    max-width: 334px;
    background-attachment: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
}

.sidebar-navigation{
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 100vh;
    overflow: auto;
    position: sticky;
    position: -webkit-sticky;
    top: 50px;
    width: 100%;
    z-index: 900;
    padding-top: 45px;
    gap: 45px;
    padding-right: 24px;
    padding-left: 24px;
}

.sidebar-link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.link-text{
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-align: start;
}

.profile-main-wrapper{
    display: flex;
    position: relative;
    flex-grow: 1;
    transform: translateX(0);
    align-items: center;
    will-change: transform;
    flex-direction: column;
    -webkit-transform: translateX(0);
}


.link-icon{
    width: 50px;
    height: 50px;
}

.profile-elems{
    max-width: 1024px;
    border-radius: 5px;
    padding: 32px 48px;
    background-color: #fff;
}

.profile-main-welcome{
    display: flex;
    padding-top: 32px;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    border-bottom: 1px solid #6f7587;
    padding-bottom: 25px;
}

.avatar-image{
    width: 50px;
    height: 50px;
}

.welcome-text{
    color: #6f7587;
    font-size: 32px;
    font-weight: normal;
    line-height: 34px;
}

.profile-main-navigation{
    display: grid;
    margin-top: 25px;
    grid-template-columns: auto auto;
    gap: 50px 50px;
}

.profile-navigation-link{
    display: flex;
    border-radius: 3px;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    max-width: 262px;
}

.profile-navigation-image{
    width: 150px;
    height: 150px;
}

.profile-navigation-big-text{
    margin-top: 10px;
    font-size: 20px;
    line-height: 26px;
    color: #303a4b;
}

.profile-navigation-small-text{
    font-size: 14px;
    margin-top: 10px;
    line-height: 18px;
    color: #435168;
}

.profile-head-text{
    font-size: 28px;
    font-weight: 600;
    color: #6f7587;
    line-height: 32px;
    margin-top: 24px;
    margin-bottom: 24px;
}