<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="profile-styles.css">
</head>
<body>
    <div class="profile-wrapper">
        <div class="sidebar-profile">
            <div class="sidebar-navigation">
                <a href="" class="sidebar-link">
                    <img src="" alt="" class="company-logo-sidebar">
                </a>
                <a href="" class="sidebar-link">
                    <img src="" alt="" class="link-icon">
                    <div class="link-text">Profile information</div>
                </a>
                <a href="" class="sidebar-link">
                    <img src="" alt="" class="link-icon">
                    <div class="link-text">Security</div>
                </a>
                <a href="" class="sidebar-link">
                    <img src="" alt="" class="link-icon">
                    <div class="link-text">Privacy</div>
                </a>
                <a href="" class="sidebar-link">
                    <img src="" alt="" class="link-icon">
                    <div class="link-text">Transactions history</div>
                </a>
            </div>
        </div>
        <div class="profile-main-wrapper">
            <div class="profile-main-welcome">
                <img src="" alt="" class="avatar-image">
                <h2 class="welcome-text">Welcome back, nickname!</h2>
            </div>

            <div class="profile-main-navigation">
                <a href="" class="profile-navigation-link">
                    <img src="" alt="" class="profile-navigation-image">
                    <h3 class="profile-navigation-big-text">Profile information</h3>
                    <p class="profile-navigation-small-text">Changing your profile data</p>
                </a>
                <a href="" class="profile-navigation-link">
                    <img src="" alt="" class="profile-navigation-image">
                    <h3 class="profile-navigation-big-text">Security</h3>
                    <p class="profile-navigation-small-text">Changing your password and overall security information</p>
                </a>
                <a href="" class="profile-navigation-link">
                    <img src="" alt="" class="profile-navigation-image">
                    <h3 class="profile-navigation-big-text">Privacy</h3>
                    <p class="profile-navigation-small-text">Learn about privacy policy</p>
                </a>
                <a href="" class="profile-navigation-link">
                    <img src="" alt="" class="profile-navigation-image">
                    <h3 class="profile-navigation-big-text">Transactions history</h3>
                    <p class="profile-navigation-small-text">Check out your transactions and prizes</p>
                </a>
            </div>
        </div>
    </div>
</body>
</html>