<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="profile-styles.css">
</head>
<body>
    <div class="profile-wrapper">
        <div class="sidebar-profile">
            <div class="sidebar-navigation">
                <a href="" class="sidebar-link">
                    <img src="" alt="" class="company-logo-sidebar">
                </a>
                <a href="" class="sidebar-link">
                    <img src="" alt="" class="link-icon">
                    <div class="link-text">Profile information</div>
                </a>
                <a href="" class="sidebar-link">
                    <img src="" alt="" class="link-icon">
                    <div class="link-text">Security</div>
                </a>
                <a href="" class="sidebar-link">
                    <img src="" alt="" class="link-icon">
                    <div class="link-text">Privacy</div>
                </a>
                <a href="" class="sidebar-link">
                    <img src="" alt="" class="link-icon">
                    <div class="link-text">Transactions history</div>
                </a>
            </div>
        </div>

        <div class="profile-main-wrapper">
            <h1 class="profile-head-text">
                Profile information
            </h1>

            <div class="profile-elems">
                <h3 class="profile-elem-name">
                    Your profile
                </h3>
            </div>
            <div class="profile-elems">
                <h3 class="profile-elem-name">
                    Personal data
                </h3>
            </div>
            <div class="profile-elems">
                <h3 class="profile-elem-name">
                    Delete account
                </h3>
            </div>
        </div>
    </div>
</body>
</html>